#back {
    text-decoration: none;
    position: absolute;
    left: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.568);
    color: #263173;
}
#back:visited {
    text-decoration: none;
}
header img {
    margin-left: -35px;
}
