body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    padding: 80px 20px 60px; 
    display: flex;
    justify-content: space-between;
}

.coluna {
    flex: 1;
}

.modelopc {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modelopc img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.description {
    flex: 1;
}

.description h2 {
    margin-top: 0;
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #f0f0f0;
    color: rgb(206, 17, 17);
    position: fixed;
    width: 100%;
    bottom: 0;
}
