body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px; 
    max-width: 1000px;
    margin: auto;
    align-items: flex-start;
    padding-top: 50px; 
    padding-bottom: 50px; 
    margin-left: 20px; /* Adicionando margem à esquerda */
    margin-right: 20px; /* Adicionando margem à direita */
}

.pecapc {
    background: #fff;
    border: 5px solid #0066cc; /* Adicionando borda azul */
    border-radius: 50px; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.pecapc img {
    max-width: 100%;
    height: 280px;
    border-radius: 5px;
}

.pecapc h2 {
    font-size: 24px; /* Tamanho do título */
    color: #0066cc; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.pecapc p {
    font-size: 18px; /* Tamanho do texto */
    color: #0066cc; /* Cor do texto */
}
