body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
main {
    padding-top: 2450px; /* Ajuste conforme necessário para a altura da header */
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px; 
    max-width: 1000px;
    margin: auto;
    align-items: flex-start;
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.pecapc {
    background: white;
    border-radius: 50px; 
    padding: 20px;
    text-align: center;
}

.pecapc img {
    max-width: 100%;
    height: 280px;
    border-radius: 5px;
}

.pecapc h2 {
    font-size: 30px;
    margin-bottom: 10px; 
}

.pecapc p {
    font-size: 25px;
}

